.main-top-section {
	position: relative;
	height: 30vh;
	background: url(http://i.imgur.com/WfPT5fD.jpg) center no-repeat;
	background-size: cover;
}

.HAM {
	width: 50px;
	height: 50px;
	margin: 20px 0 0 20px;
}

.item {
	width: 50%;
	float: left;
}

.item-title {
	display: none;
}

.item img {
	width: 100%;
}

@media(min-width: 900px) {
	.item {
		width: 100%;
	}

	.item img {
		width: 30%;
		float: right;
	}

	.item-title {
		display: block;
	}
}